.heroAboutUs-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1118px;
    height: auto;
    padding: 1rem 0;
    margin: 1rem auto;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.heroAboutUs-section:hover {
    transform: scale(1.01);
}
 
.heroAboutUs-info {
    flex: 1; 
    padding: 1rem; 
}

.heroAboutUs-info p {
    text-align: center;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 2rem;
}

.heroAboutUs-info h2 {
    font-size: 3rem; 
    font-weight: 700;
    color: #000000;
    margin-top: 0;
    margin-bottom: 4rem;
    line-height: 1.2; 
    text-align: center;
}


.heroAboutUs-info h2 span {
    color: #FF00E5;
}


@media screen and (max-width: 1440px) {
    .heroAboutUs-section {
        max-width: 990px;
    }
}

/* Media Queries para Responder a Diferentes Tamaños de Pantalla */
@media screen and (max-width: 1024px) {
    .heroAboutUs-section {
        flex-direction: column; /* Cambia la disposición a columna */
        padding: 1rem;
    }

    .heroAboutUs-info {
        text-align: center; /* Centra el texto en pantallas pequeñas */
        margin: 0;
        padding: 1rem;
    }

    .heroAboutUs-info p {
        margin-right: 0; /* Elimina margen para texto en dispositivos pequeños */
    }

    .heroAboutUs-image {
        margin-top: 1rem; /* Agrega espacio entre imagen y texto */
        margin-right: 0;
    }

    .heroAboutUs-image img {
        max-width: 100%; /* Asegura que la imagen no desborde en pantallas pequeñas */
    }
}

@media screen and (max-width: 884px) {
    .heroAboutUs-section {
        max-width: 768px;
    }
}

@media screen and (max-width: 820px) {
      .heroAboutUs-section {
        max-width: 720px;
    }

}

@media screen and (max-width: 800px) {
    .heroAboutUs-section {
        max-width: 720px;
    }
}

@media screen and (max-width: 768px) {
    .heroAboutUs-section {
        max-width: 680px;
    }

    .heroAboutUs-info h2 {
        font-size: 2rem; /* Reduce el tamaño de fuente en tablets */
    }

    .heroAboutUs-info p {
        font-size: 0.9rem; /* Ajuste del tamaño de texto en tablets */
    }
}

@media screen and (max-width: 480px) {
    .heroAboutUs-info h2 {
        font-size: 1.5rem; /* Ajuste del tamaño de texto en móviles */
    }

    .heroAboutUs-info p {
        font-size: 0.85rem; /* Ajuste del tamaño de texto en móviles */
        margin-bottom: 1rem; /* Reduce el espacio inferior */
    }

    .heroAboutUs-info {
        padding: 0.5rem;
    }

    .heroAboutUs-image img {
        max-width: 90%; /* Ajuste del tamaño de imagen en móviles */
    }
}

@media screen and (max-width: 430px) {
    .heroAboutUs-section {
        max-width: 330px;
    }
}

@media screen and (max-width: 360px) {
    .heroAboutUs-section {
        max-width: 300px;
    }
}

@media screen and (max-width: 320px) {
    .heroAboutUs-section {
        max-width: 250px;
    }

    .heroAboutUs-info h2 {
        font-size: 1.4rem;
    }
}